.pokesprite { display: inline-block }
.pokesprite.big {transform: scale(2.0)}
.pokesprite.pokemon { 
    --dex: 0;
    --cols: 12;

    width: 40px; 
    height: 30px; 
    background: url('../assets/pokemonicons-sheet.png'); 
    image-rendering: pixelated; 
    image-rendering: -moz-crisp-edges;

    background-position: 
        calc(mod(var(--dex), var(--cols)) * -40px)
        calc((var(--dex) - mod(var(--dex), var(--cols))) / var(--cols) * -30px);
}
.pokesprite.bulbasaur { --dex: 1; }
.pokesprite.ivysaur { --dex: 2; }
.pokesprite.venusaur { --dex: 3; }
.pokesprite.charmander { --dex: 4; }
.pokesprite.charmeleon { --dex: 5; }
.pokesprite.charizard { --dex: 6; }
.pokesprite.squirtle { --dex: 7; }
.pokesprite.wartortle { --dex: 8; }
.pokesprite.blastoise { --dex: 9; }
.pokesprite.caterpie { --dex: 10; }
.pokesprite.metapod { --dex: 11; }
.pokesprite.butterfree { --dex: 12; }
.pokesprite.weedle { --dex: 13; }
.pokesprite.kakuna { --dex: 14; }
.pokesprite.beedrill { --dex: 15; }
.pokesprite.pidgey { --dex: 16; }
.pokesprite.pidgeotto { --dex: 17; }
.pokesprite.pidgeot { --dex: 18; }
.pokesprite.rattata { --dex: 19; }
.pokesprite.rattata-alola { --dex: 1151; }
.pokesprite.raticate { --dex: 20; }
.pokesprite.raticate-alola { --dex: 1152; }
.pokesprite.spearow { --dex: 21; }
.pokesprite.fearow { --dex: 22; }
.pokesprite.ekans { --dex: 23; }
.pokesprite.arbok { --dex: 24; }
.pokesprite.pikachu { --dex: 25; }
.pokesprite.raichu { --dex: 26; }
.pokesprite.raichu-alola { --dex: 1153; }
.pokesprite.sandshrew { --dex: 27; }
.pokesprite.sandshrew-alola { --dex: 1154; }
.pokesprite.sandslash { --dex: 28; }
.pokesprite.sandslash-alola { --dex: 1155; }
.pokesprite.nidoran-f { --dex: 29; }
.pokesprite.nidorina { --dex: 30; }
.pokesprite.nidoqueen { --dex: 31; }
.pokesprite.nidoran-m { --dex: 32; }
.pokesprite.nidorino { --dex: 33; }
.pokesprite.nidoking { --dex: 34; }
.pokesprite.clefairy { --dex: 35; }
.pokesprite.clefable { --dex: 36; }
.pokesprite.vulpix { --dex: 37; }
.pokesprite.vulpix-alola { --dex: 1156; }
.pokesprite.ninetales { --dex: 38; }
.pokesprite.ninetales-alola { --dex: 1157;}
.pokesprite.jigglypuff { --dex: 39; }
.pokesprite.wigglytuff { --dex: 40; }
.pokesprite.zubat { --dex: 41; }
.pokesprite.golbat { --dex: 42; }
.pokesprite.oddish { --dex: 43; }
.pokesprite.gloom { --dex: 44; }
.pokesprite.vileplume { --dex: 45; }
.pokesprite.paras { --dex: 46; }
.pokesprite.parasect { --dex: 47; }
.pokesprite.venonat { --dex: 48; }
.pokesprite.venomoth { --dex: 49; }
.pokesprite.diglett { --dex: 50; }
.pokesprite.diglett { --dex: 1158; }
.pokesprite.dugtrio { --dex: 51; }
.pokesprite.dugtrio-alola { --dex: 1159; }
.pokesprite.meowth { --dex: 52; }
.pokesprite.meowth-alola { --dex: 1160; }
.pokesprite.meowth-galar { --dex: 1198; }
.pokesprite.persian { --dex: 53; }
.pokesprite.persian-alola { --dex: 1161; }
.pokesprite.psyduck { --dex: 54; }
.pokesprite.golduck { --dex: 55; }
.pokesprite.mankey { --dex: 56; }
.pokesprite.primeape { --dex: 57; }
.pokesprite.growlithe { --dex: 58; }
.pokesprite.growlithe { --dex: 1238; }
.pokesprite.arcanine { --dex: 59; }
.pokesprite.arcanine-hisui { --dex: 1239; }
.pokesprite.poliwag { --dex: 60; }
.pokesprite.poliwhirl { --dex: 61; }
.pokesprite.poliwrath { --dex: 62; }
.pokesprite.abra { --dex: 63; }
.pokesprite.kadabra { --dex: 64; }
.pokesprite.alakazam { --dex: 65; }
.pokesprite.machop { --dex: 66; }
.pokesprite.machoke { --dex: 67; }
.pokesprite.machamp { --dex: 68; }
.pokesprite.bellsprout { --dex: 69; }
.pokesprite.weepinbell { --dex: 70; }
.pokesprite.victreebel { --dex: 71; }
.pokesprite.tentacool { --dex: 72; }
.pokesprite.tentacruel { --dex: 73; }
.pokesprite.geodude { --dex: 74; }
.pokesprite.geodude-alola { --dex: 1162; }
.pokesprite.graveler { --dex: 75; }
.pokesprite.graveler-alola { --dex: 1163; }
.pokesprite.golem { --dex: 76; }
.pokesprite.golem-alola { --dex: 1164; }
.pokesprite.ponyta { --dex: 77; }
.pokesprite.ponyta-galar { --dex: 1199; }
.pokesprite.rapidash { --dex: 78; }
.pokesprite.rapidash-galar { --dex: 1200; }
.pokesprite.slowpoke { --dex: 79; }
.pokesprite.slowpoke-galar { --dex: 1228; }
.pokesprite.slowbro { --dex: 80; }
.pokesprite.slowbro-galar { --dex: 1229; }
.pokesprite.magnemite { --dex: 81; }
.pokesprite.magneton { --dex: 82; }
.pokesprite.farfetchd { --dex: 83; }
.pokesprite.doduo { --dex: 84; }
.pokesprite.dodrio { --dex: 85; }
.pokesprite.seel { --dex: 86; }
.pokesprite.dewgong { --dex: 87; }
.pokesprite.grimer { --dex: 88; }
.pokesprite.grimer-alola { --dex: 1165; }
.pokesprite.muk { --dex: 89; }
.pokesprite.muk-alola { --dex: 1166; }
.pokesprite.shellder { --dex: 90; }
.pokesprite.cloyster { --dex: 91; }
.pokesprite.gastly { --dex: 92; }
.pokesprite.haunter { --dex: 93; }
.pokesprite.gengar { --dex: 94; }
.pokesprite.onix { --dex: 95; }
.pokesprite.drowzee { --dex: 96; }
.pokesprite.hypno { --dex: 97; }
.pokesprite.krabby { --dex: 98; }
.pokesprite.kingler { --dex: 99; }
.pokesprite.voltorb { --dex: 100; }
.pokesprite.voltorb-hisui { --dex: 1240; }
.pokesprite.electrode { --dex: 101; }
.pokesprite.electrode-hisui { --dex: 1241; }
.pokesprite.exeggcute { --dex: 102; }
.pokesprite.exeggutor { --dex: 103; }
.pokesprite.exeggutor-alola { --dex: 1167; }
.pokesprite.cubone { --dex: 104; }
.pokesprite.marowak { --dex: 105; }
.pokesprite.marowak-alola { --dex: 1168; }
.pokesprite.hitmonlee { --dex: 106; }
.pokesprite.hitmonchan { --dex: 107; }
.pokesprite.lickitung { --dex: 108; }
.pokesprite.koffing { --dex: 109; }
.pokesprite.weezing { --dex: 110; }
.pokesprite.weezing-galar { --dex: 1202; }
.pokesprite.rhyhorn { --dex: 111; }
.pokesprite.rhydon { --dex: 112; }
.pokesprite.chansey { --dex: 113; }
.pokesprite.tangela { --dex: 114; }
.pokesprite.kangaskhan { --dex: 115; }
.pokesprite.horsea { --dex: 116; }
.pokesprite.seadra { --dex: 117; }
.pokesprite.goldeen { --dex: 118; }
.pokesprite.seaking { --dex: 119; }
.pokesprite.staryu { --dex: 120; }
.pokesprite.starmie { --dex: 121; }
.pokesprite.mr-mime { --dex: 122; }
.pokesprite.mr-mime-galar { --dex: 1203; }
.pokesprite.scyther { --dex: 123; }
.pokesprite.jynx { --dex: 124; }
.pokesprite.electabuzz { --dex: 125; }
.pokesprite.magmar { --dex: 126; }
.pokesprite.pinsir { --dex: 127; }
.pokesprite.tauros { --dex: 128; }
.pokesprite.tauros-paldea { --dex: 1256; }
.pokesprite.tauros-paldea-blaze { --dex: 1257; }
.pokesprite.tauros-paldea-aqua { --dex: 1258; }
.pokesprite.magikarp { --dex: 129; }
.pokesprite.gyarados { --dex: 130; }
.pokesprite.lapras { --dex: 131; }
.pokesprite.ditto { --dex: 132; }
.pokesprite.eevee { --dex: 133; }
.pokesprite.vaporeon { --dex: 134; }
.pokesprite.jolteon { --dex: 135; }
.pokesprite.flareon { --dex: 136; }
.pokesprite.porygon { --dex: 137; }
.pokesprite.omanyte { --dex: 138; }
.pokesprite.omastar { --dex: 139; }
.pokesprite.kabuto { --dex: 140; }
.pokesprite.kabutops { --dex: 141; }
.pokesprite.aerodactyl { --dex: 142; }
.pokesprite.snorlax { --dex: 143; }
.pokesprite.articuno { --dex: 144; }
.pokesprite.articuno-galar { --dex: 1232; }
.pokesprite.zapdos { --dex: 145; }
.pokesprite.zapdos-galar { --dex: 1233; }
.pokesprite.moltres { --dex: 146; }
.pokesprite.moltres-galar { --dex: 1234; }
.pokesprite.dratini { --dex: 147; }
.pokesprite.dragonair { --dex: 148; }
.pokesprite.dragonite { --dex: 149; }
.pokesprite.mewtwo { --dex: 150; }
.pokesprite.mew { --dex: 151; }
.pokesprite.chikorita { --dex: 152; }
.pokesprite.bayleef { --dex: 153; }
.pokesprite.meganium { --dex: 154; }
.pokesprite.cyndaquil { --dex: 155; }
.pokesprite.quilava { --dex: 156; }
.pokesprite.typhlosion { --dex: 157; }
.pokesprite.typhlosion-hisui { --dex: 1242; }
.pokesprite.totodile { --dex: 158; }
.pokesprite.croconaw { --dex: 159; }
.pokesprite.feraligatr { --dex: 160; }
.pokesprite.sentret { --dex: 161; }
.pokesprite.furret { --dex: 162; }
.pokesprite.hoothoot { --dex: 163; }
.pokesprite.noctowl { --dex: 164; }
.pokesprite.ledyba { --dex: 165; }
.pokesprite.ledian { --dex: 166; }
.pokesprite.spinarak { --dex: 167; }
.pokesprite.ariados { --dex: 168; }
.pokesprite.crobat { --dex: 169; }
.pokesprite.chinchou { --dex: 170; }
.pokesprite.lanturn { --dex: 171; }
.pokesprite.pichu { --dex: 172; }
.pokesprite.cleffa { --dex: 173; }
.pokesprite.igglybuff { --dex: 174; }
.pokesprite.togepi { --dex: 175; }
.pokesprite.togetic { --dex: 176; }
.pokesprite.natu { --dex: 177; }
.pokesprite.xatu { --dex: 178; }
.pokesprite.mareep { --dex: 179; }
.pokesprite.flaaffy { --dex: 180; }
.pokesprite.ampharos { --dex: 181; }
.pokesprite.bellossom { --dex: 182; }
.pokesprite.marill { --dex: 183; }
.pokesprite.azumarill { --dex: 184; }
.pokesprite.sudowoodo { --dex: 185; }
.pokesprite.politoed { --dex: 186; }
.pokesprite.hoppip { --dex: 187; }
.pokesprite.skiploom { --dex: 188; }
.pokesprite.jumpluff { --dex: 189; }
.pokesprite.aipom { --dex: 190; }
.pokesprite.sunkern { --dex: 191; }
.pokesprite.sunflora { --dex: 192; }
.pokesprite.yanma { --dex: 193; }
.pokesprite.wooper { --dex: 194; }
.pokesprite.quagsire { --dex: 195; }
.pokesprite.espeon { --dex: 196; }
.pokesprite.umbreon { --dex: 197; }
.pokesprite.murkrow { --dex: 198; }
.pokesprite.slowking { --dex: 199; }
.pokesprite.slowking-galar { --dex: 1235; }
.pokesprite.misdreavus { --dex: 200; }
.pokesprite.unown { --dex: 201; }
.pokesprite.wobbuffet { --dex: 202; }
.pokesprite.girafarig { --dex: 203; }
.pokesprite.pineco { --dex: 204; }
.pokesprite.forretress { --dex: 205; }
.pokesprite.dunsparce { --dex: 206; }
.pokesprite.gligar { --dex: 207; }
.pokesprite.steelix { --dex: 208; }
.pokesprite.snubbull { --dex: 209; }
.pokesprite.granbull { --dex: 210; }
.pokesprite.qwilfish { --dex: 211; }
.pokesprite.qwilfish-hisui { --dex: 1243; }
.pokesprite.scizor { --dex: 212; }
.pokesprite.shuckle { --dex: 213; }
.pokesprite.heracross { --dex: 214; }
.pokesprite.sneasel { --dex: 215; }
.pokesprite.sneasel-hisui { --dex: 1244; }
.pokesprite.teddiursa { --dex: 216; }
.pokesprite.ursaring { --dex: 217; }
.pokesprite.slugma { --dex: 218; }
.pokesprite.magcargo { --dex: 219; }
.pokesprite.swinub { --dex: 220; }
.pokesprite.piloswine { --dex: 221; }
.pokesprite.corsola { --dex: 222; }
.pokesprite.corsola-galar { --dex: 1204; }
.pokesprite.remoraid { --dex: 223; }
.pokesprite.octillery { --dex: 224; }
.pokesprite.delibird { --dex: 225; }
.pokesprite.mantine { --dex: 226; }
.pokesprite.skarmory { --dex: 227; }
.pokesprite.houndour { --dex: 228; }
.pokesprite.houndoom { --dex: 229; }
.pokesprite.kingdra { --dex: 230; }
.pokesprite.phanpy { --dex: 231; }
.pokesprite.donphan { --dex: 232; }
.pokesprite.porygon2 { --dex: 233; }
.pokesprite.stantler { --dex: 234; }
.pokesprite.smeargle { --dex: 235; }
.pokesprite.tyrogue { --dex: 236; }
.pokesprite.hitmontop { --dex: 237; }
.pokesprite.smoochum { --dex: 238; }
.pokesprite.elekid { --dex: 239; }
.pokesprite.magby { --dex: 240; }
.pokesprite.miltank { --dex: 241; }
.pokesprite.blissey { --dex: 242; }
.pokesprite.raikou { --dex: 243; }
.pokesprite.entei { --dex: 244; }
.pokesprite.suicune { --dex: 245; }
.pokesprite.larvitar { --dex: 246; }
.pokesprite.pupitar { --dex: 247; }
.pokesprite.tyranitar { --dex: 248; }
.pokesprite.lugia { --dex: 249; }
.pokesprite.ho-oh { --dex: 250; }
.pokesprite.celebi { --dex: 251; }
.pokesprite.treecko { --dex: 252; }
.pokesprite.grovyle { --dex: 253; }
.pokesprite.sceptile { --dex: 254; }
.pokesprite.torchic { --dex: 255; }
.pokesprite.combusken { --dex: 256; }
.pokesprite.blaziken { --dex: 257; }
.pokesprite.mudkip { --dex: 258; }
.pokesprite.marshtomp { --dex: 259; }
.pokesprite.swampert { --dex: 260; }
.pokesprite.poochyena { --dex: 261; }
.pokesprite.mightyena { --dex: 262; }
.pokesprite.zigzagoon { --dex: 263; }
.pokesprite.zigzagoon-galar { --dex: 1205; }
.pokesprite.linoone { --dex: 264; }
.pokesprite.linoone-galar { --dex: 1206; }
.pokesprite.wurmple { --dex: 265; }
.pokesprite.silcoon { --dex: 266; }
.pokesprite.beautifly { --dex: 267; }
.pokesprite.cascoon { --dex: 268; }
.pokesprite.dustox { --dex: 269; }
.pokesprite.lotad { --dex: 270; }
.pokesprite.lombre { --dex: 271; }
.pokesprite.ludicolo { --dex: 272; }
.pokesprite.seedot { --dex: 273; }
.pokesprite.nuzleaf { --dex: 274; }
.pokesprite.shiftry { --dex: 275; }
.pokesprite.taillow { --dex: 276; }
.pokesprite.swellow { --dex: 277; }
.pokesprite.wingull { --dex: 278; }
.pokesprite.pelipper { --dex: 279; }
.pokesprite.ralts { --dex: 280; }
.pokesprite.kirlia { --dex: 281; }
.pokesprite.gardevoir { --dex: 282; }
.pokesprite.surskit { --dex: 283; }
.pokesprite.masquerain { --dex: 284; }
.pokesprite.shroomish { --dex: 285; }
.pokesprite.breloom { --dex: 286; }
.pokesprite.slakoth { --dex: 287; }
.pokesprite.vigoroth { --dex: 288; }
.pokesprite.slaking { --dex: 289; }
.pokesprite.nincada { --dex: 290; }
.pokesprite.ninjask { --dex: 291; }
.pokesprite.shedinja { --dex: 292; }
.pokesprite.whismur { --dex: 293; }
.pokesprite.loudred { --dex: 294; }
.pokesprite.exploud { --dex: 295; }
.pokesprite.makuhita { --dex: 296; }
.pokesprite.hariyama { --dex: 297; }
.pokesprite.azurill { --dex: 298; }
.pokesprite.nosepass { --dex: 299; }
.pokesprite.skitty { --dex: 300; }
.pokesprite.delcatty { --dex: 301; }
.pokesprite.sableye { --dex: 302; }
.pokesprite.mawile { --dex: 303; }
.pokesprite.aron { --dex: 304; }
.pokesprite.lairon { --dex: 305; }
.pokesprite.aggron { --dex: 306; }
.pokesprite.meditite { --dex: 307; }
.pokesprite.medicham { --dex: 308; }
.pokesprite.electrike { --dex: 309; }
.pokesprite.manectric { --dex: 310; }
.pokesprite.plusle { --dex: 311; }
.pokesprite.minun { --dex: 312; }
.pokesprite.volbeat { --dex: 313; }
.pokesprite.illumise { --dex: 314; }
.pokesprite.roselia { --dex: 315; }
.pokesprite.gulpin { --dex: 316; }
.pokesprite.swalot { --dex: 317; }
.pokesprite.carvanha { --dex: 318; }
.pokesprite.sharpedo { --dex: 319; }
.pokesprite.wailmer { --dex: 320; }
.pokesprite.wailord { --dex: 321; }
.pokesprite.numel { --dex: 322; }
.pokesprite.camerupt { --dex: 323; }
.pokesprite.torkoal { --dex: 324; }
.pokesprite.spoink { --dex: 325; }
.pokesprite.grumpig { --dex: 326; }
.pokesprite.spinda { --dex: 327; }
.pokesprite.trapinch { --dex: 328; }
.pokesprite.vibrava { --dex: 329; }
.pokesprite.flygon { --dex: 330; }
.pokesprite.cacnea { --dex: 331; }
.pokesprite.cacturne { --dex: 332; }
.pokesprite.swablu { --dex: 333; }
.pokesprite.altaria { --dex: 334; }
.pokesprite.zangoose { --dex: 335; }
.pokesprite.seviper { --dex: 336; }
.pokesprite.lunatone { --dex: 337; }
.pokesprite.solrock { --dex: 338; }
.pokesprite.barboach { --dex: 339; }
.pokesprite.whiscash { --dex: 340; }
.pokesprite.corphish { --dex: 341; }
.pokesprite.crawdaunt { --dex: 342; }
.pokesprite.baltoy { --dex: 343; }
.pokesprite.claydol { --dex: 344; }
.pokesprite.lileep { --dex: 345; }
.pokesprite.cradily { --dex: 346; }
.pokesprite.anorith { --dex: 347; }
.pokesprite.armaldo { --dex: 348; }
.pokesprite.feebas { --dex: 349; }
.pokesprite.milotic { --dex: 350; }
.pokesprite.castform { --dex: 351; }
.pokesprite.kecleon { --dex: 352; }
.pokesprite.shuppet { --dex: 353; }
.pokesprite.banette { --dex: 354; }
.pokesprite.duskull { --dex: 355; }
.pokesprite.dusclops { --dex: 356; }
.pokesprite.tropius { --dex: 357; }
.pokesprite.chimecho { --dex: 358; }
.pokesprite.absol { --dex: 359; }
.pokesprite.wynaut { --dex: 360; }
.pokesprite.snorunt { --dex: 361; }
.pokesprite.glalie { --dex: 362; }
.pokesprite.spheal { --dex: 363; }
.pokesprite.sealeo { --dex: 364; }
.pokesprite.walrein { --dex: 365; }
.pokesprite.clamperl { --dex: 366; }
.pokesprite.huntail { --dex: 367; }
.pokesprite.gorebyss { --dex: 368; }
.pokesprite.relicanth { --dex: 369; }
.pokesprite.luvdisc { --dex: 370; }
.pokesprite.bagon { --dex: 371; }
.pokesprite.shelgon { --dex: 372; }
.pokesprite.salamence { --dex: 373; }
.pokesprite.beldum { --dex: 374; }
.pokesprite.metang { --dex: 375; }
.pokesprite.metagross { --dex: 376; }
.pokesprite.regirock { --dex: 377; }
.pokesprite.regice { --dex: 378; }
.pokesprite.registeel { --dex: 379; }
.pokesprite.latias { --dex: 380; }
.pokesprite.latios { --dex: 381; }
.pokesprite.kyogre { --dex: 382; }
.pokesprite.groudon { --dex: 383; }
.pokesprite.rayquaza { --dex: 384; }
.pokesprite.jirachi { --dex: 385; }
.pokesprite.deoxys { --dex: 386; }
.pokesprite.turtwig { --dex: 387; }
.pokesprite.grotle { --dex: 388; }
.pokesprite.torterra { --dex: 389; }
.pokesprite.chimchar { --dex: 390; }
.pokesprite.monferno { --dex: 391; }
.pokesprite.infernape { --dex: 392; }
.pokesprite.piplup { --dex: 393; }
.pokesprite.prinplup { --dex: 394; }
.pokesprite.empoleon { --dex: 395; }
.pokesprite.starly { --dex: 396; }
.pokesprite.staravia { --dex: 397; }
.pokesprite.staraptor { --dex: 398; }
.pokesprite.bidoof { --dex: 399; }
.pokesprite.bibarel { --dex: 400; }
.pokesprite.kricketot { --dex: 401; }
.pokesprite.kricketune { --dex: 402; }
.pokesprite.shinx { --dex: 403; }
.pokesprite.luxio { --dex: 404; }
.pokesprite.luxray { --dex: 405; }
.pokesprite.budew { --dex: 406; }
.pokesprite.roserade { --dex: 407; }
.pokesprite.cranidos { --dex: 408; }
.pokesprite.rampardos { --dex: 409; }
.pokesprite.shieldon { --dex: 410; }
.pokesprite.bastiodon { --dex: 411; }
.pokesprite.burmy { --dex: 412; }
.pokesprite.wormadam { --dex: 413; }
.pokesprite.mothim { --dex: 414; }
.pokesprite.combee { --dex: 415; }
.pokesprite.vespiquen { --dex: 416; }
.pokesprite.pachirisu { --dex: 417; }
.pokesprite.buizel { --dex: 418; }
.pokesprite.floatzel { --dex: 419; }
.pokesprite.cherubi { --dex: 420; }
.pokesprite.cherrim { --dex: 421; }
.pokesprite.shellos { --dex: 422; }
.pokesprite.gastrodon { --dex: 423; }
.pokesprite.ambipom { --dex: 424; }
.pokesprite.drifloon { --dex: 425; }
.pokesprite.drifblim { --dex: 426; }
.pokesprite.buneary { --dex: 427; }
.pokesprite.lopunny { --dex: 428; }
.pokesprite.mismagius { --dex: 429; }
.pokesprite.honchkrow { --dex: 430; }
.pokesprite.glameow { --dex: 431; }
.pokesprite.purugly { --dex: 432; }
.pokesprite.chingling { --dex: 433; }
.pokesprite.stunky { --dex: 434; }
.pokesprite.skuntank { --dex: 435; }
.pokesprite.bronzor { --dex: 436; }
.pokesprite.bronzong { --dex: 437; }
.pokesprite.bonsly { --dex: 438; }
.pokesprite.mime-jr { --dex: 439; }
.pokesprite.happiny { --dex: 440; }
.pokesprite.chatot { --dex: 441; }
.pokesprite.spiritomb { --dex: 442; }
.pokesprite.gible { --dex: 443; }
.pokesprite.gabite { --dex: 444; }
.pokesprite.garchomp { --dex: 445; }
.pokesprite.munchlax { --dex: 446; }
.pokesprite.riolu { --dex: 447; }
.pokesprite.lucario { --dex: 448; }
.pokesprite.hippopotas { --dex: 449; }
.pokesprite.hippowdon { --dex: 450; }
.pokesprite.skorupi { --dex: 451; }
.pokesprite.drapion { --dex: 452; }
.pokesprite.croagunk { --dex: 453; }
.pokesprite.toxicroak { --dex: 454; }
.pokesprite.carnivine { --dex: 455; }
.pokesprite.finneon { --dex: 456; }
.pokesprite.lumineon { --dex: 457; }
.pokesprite.mantyke { --dex: 458; }
.pokesprite.snover { --dex: 459; }
.pokesprite.abomasnow { --dex: 460; }
.pokesprite.weavile { --dex: 461; }
.pokesprite.magnezone { --dex: 462; }
.pokesprite.lickilicky { --dex: 463; }
.pokesprite.rhyperior { --dex: 464; }
.pokesprite.tangrowth { --dex: 465; }
.pokesprite.electivire { --dex: 466; }
.pokesprite.magmortar { --dex: 467; }
.pokesprite.togekiss { --dex: 468; }
.pokesprite.yanmega { --dex: 469; }
.pokesprite.leafeon { --dex: 470; }
.pokesprite.glaceon { --dex: 471; }
.pokesprite.gliscor { --dex: 472; }
.pokesprite.mamoswine { --dex: 473; }
.pokesprite.porygon-z { --dex: 474; }
.pokesprite.gallade { --dex: 475; }
.pokesprite.probopass { --dex: 476; }
.pokesprite.dusknoir { --dex: 477; }
.pokesprite.froslass { --dex: 478; }
.pokesprite.rotom { --dex: 479; }
.pokesprite.rotom-fan { --dex: 1080; }
.pokesprite.rotom-frost { --dex: 1081; }
.pokesprite.rotom-heat { --dex: 1082; }
.pokesprite.rotom-mow { --dex: 1083; }
.pokesprite.rotom-wash { --dex: 1084; }
.pokesprite.uxie { --dex: 480; }
.pokesprite.mesprit { --dex: 481; }
.pokesprite.azelf { --dex: 482; }
.pokesprite.dialga { --dex: 483; }
.pokesprite.palkia { --dex: 484; }
.pokesprite.heatran { --dex: 485; }
.pokesprite.regigigas { --dex: 486; }
.pokesprite.giratina { --dex: 487; }
.pokesprite.cresselia { --dex: 488; }
.pokesprite.phione { --dex: 489; }
.pokesprite.manaphy { --dex: 490; }
.pokesprite.darkrai { --dex: 491; }
.pokesprite.shaymin { --dex: 492; }
.pokesprite.arceus { --dex: 493; }
.pokesprite.victini { --dex: 494; }
.pokesprite.snivy { --dex: 495; }
.pokesprite.servine { --dex: 496; }
.pokesprite.serperior { --dex: 497; }
.pokesprite.tepig { --dex: 498; }
.pokesprite.pignite { --dex: 499; }
.pokesprite.emboar { --dex: 500; }
.pokesprite.oshawott { --dex: 501; }
.pokesprite.dewott { --dex: 502; }
.pokesprite.samurott { --dex: 503; }
.pokesprite.samurott-hisui { --dex: 1245; }
.pokesprite.patrat { --dex: 504; }
.pokesprite.watchog { --dex: 505; }
.pokesprite.lillipup { --dex: 506; }
.pokesprite.herdier { --dex: 507; }
.pokesprite.stoutland { --dex: 508; }
.pokesprite.purrloin { --dex: 509; }
.pokesprite.liepard { --dex: 510; }
.pokesprite.pansage { --dex: 511; }
.pokesprite.simisage { --dex: 512; }
.pokesprite.pansear { --dex: 513; }
.pokesprite.simisear { --dex: 514; }
.pokesprite.panpour { --dex: 515; }
.pokesprite.simipour { --dex: 516; }
.pokesprite.munna { --dex: 517; }
.pokesprite.musharna { --dex: 518; }
.pokesprite.pidove { --dex: 519; }
.pokesprite.tranquill { --dex: 520; }
.pokesprite.unfezant { --dex: 521; }
.pokesprite.blitzle { --dex: 522; }
.pokesprite.zebstrika { --dex: 523; }
.pokesprite.roggenrola { --dex: 524; }
.pokesprite.boldore { --dex: 525; }
.pokesprite.gigalith { --dex: 526; }
.pokesprite.woobat { --dex: 527; }
.pokesprite.swoobat { --dex: 528; }
.pokesprite.drilbur { --dex: 529; }
.pokesprite.excadrill { --dex: 530; }
.pokesprite.audino { --dex: 531; }
.pokesprite.timburr { --dex: 532; }
.pokesprite.gurdurr { --dex: 533; }
.pokesprite.conkeldurr { --dex: 534; }
.pokesprite.tympole { --dex: 535; }
.pokesprite.palpitoad { --dex: 536; }
.pokesprite.seismitoad { --dex: 537; }
.pokesprite.throh { --dex: 538; }
.pokesprite.sawk { --dex: 539; }
.pokesprite.sewaddle { --dex: 540; }
.pokesprite.swadloon { --dex: 541; }
.pokesprite.leavanny { --dex: 542; }
.pokesprite.venipede { --dex: 543; }
.pokesprite.whirlipede { --dex: 544; }
.pokesprite.scolipede { --dex: 545; }
.pokesprite.cottonee { --dex: 546; }
.pokesprite.whimsicott { --dex: 547; }
.pokesprite.petilil { --dex: 548; }
.pokesprite.lilligant { --dex: 549; }
.pokesprite.lilligant-hisui { --dex: 1246; }
.pokesprite.basculin { --dex: 550; }
.pokesprite.sandile { --dex: 551; }
.pokesprite.krokorok { --dex: 552; }
.pokesprite.krookodile { --dex: 553; }
.pokesprite.darumaka { --dex: 554; }
.pokesprite.darumaka-galar { --dex: 1207; }
.pokesprite.darmanitan { --dex: 555; }
.pokesprite.darmanitan-galar { --dex: 1208; }
.pokesprite.maractus { --dex: 556; }
.pokesprite.dwebble { --dex: 557; }
.pokesprite.crustle { --dex: 558; }
.pokesprite.scraggy { --dex: 559; }
.pokesprite.scrafty { --dex: 560; }
.pokesprite.sigilyph { --dex: 561; }
.pokesprite.yamask { --dex: 562; }
.pokesprite.yamask-galar { --dex: 1210; }
.pokesprite.cofagrigus { --dex: 563; }
.pokesprite.tirtouga { --dex: 564; }
.pokesprite.carracosta { --dex: 565; }
.pokesprite.archen { --dex: 566; }
.pokesprite.archeops { --dex: 567; }
.pokesprite.trubbish { --dex: 568; }
.pokesprite.garbodor { --dex: 569; }
.pokesprite.zorua { --dex: 570; }
.pokesprite.zorua-hisui { --dex: 1247; }
.pokesprite.zoroark { --dex: 571; }
.pokesprite.zoroark-hisui { --dex: 1248; }
.pokesprite.minccino { --dex: 572; }
.pokesprite.cinccino { --dex: 573; }
.pokesprite.gothita { --dex: 574; }
.pokesprite.gothorita { --dex: 575; }
.pokesprite.gothitelle { --dex: 576; }
.pokesprite.solosis { --dex: 577; }
.pokesprite.duosion { --dex: 578; }
.pokesprite.reuniclus { --dex: 579; }
.pokesprite.ducklett { --dex: 580; }
.pokesprite.swanna { --dex: 581; }
.pokesprite.vanillite { --dex: 582; }
.pokesprite.vanillish { --dex: 583; }
.pokesprite.vanilluxe { --dex: 584; }
.pokesprite.deerling { --dex: 585; }
.pokesprite.sawsbuck { --dex: 586; }
.pokesprite.emolga { --dex: 587; }
.pokesprite.karrablast { --dex: 588; }
.pokesprite.escavalier { --dex: 589; }
.pokesprite.foongus { --dex: 590; }
.pokesprite.amoonguss { --dex: 591; }
.pokesprite.frillish { --dex: 592; }
.pokesprite.jellicent { --dex: 593; }
.pokesprite.alomomola { --dex: 594; }
.pokesprite.joltik { --dex: 595; }
.pokesprite.galvantula { --dex: 596; }
.pokesprite.ferroseed { --dex: 597; }
.pokesprite.ferrothorn { --dex: 598; }
.pokesprite.klink { --dex: 599; }
.pokesprite.klang { --dex: 600; }
.pokesprite.klinklang { --dex: 601; }
.pokesprite.tynamo { --dex: 602; }
.pokesprite.eelektrik { --dex: 603; }
.pokesprite.eelektross { --dex: 604; }
.pokesprite.elgyem { --dex: 605; }
.pokesprite.beheeyem { --dex: 606; }
.pokesprite.litwick { --dex: 607; }
.pokesprite.lampent { --dex: 608; }
.pokesprite.chandelure { --dex: 609; }
.pokesprite.axew { --dex: 610; }
.pokesprite.fraxure { --dex: 611; }
.pokesprite.haxorus { --dex: 612; }
.pokesprite.cubchoo { --dex: 613; }
.pokesprite.beartic { --dex: 614; }
.pokesprite.cryogonal { --dex: 615; }
.pokesprite.shelmet { --dex: 616; }
.pokesprite.accelgor { --dex: 617; }
.pokesprite.stunfisk { --dex: 618; }
.pokesprite.stunfisk-galar { --dex: 1211; }
.pokesprite.mienfoo { --dex: 619; }
.pokesprite.mienshao { --dex: 620; }
.pokesprite.druddigon { --dex: 621; }
.pokesprite.golett { --dex: 622; }
.pokesprite.golurk { --dex: 623; }
.pokesprite.pawniard { --dex: 624; }
.pokesprite.bisharp { --dex: 625; }
.pokesprite.bouffalant { --dex: 626; }
.pokesprite.rufflet { --dex: 627; }
.pokesprite.braviary { --dex: 628; }
.pokesprite.braviary-hisui { --dex: 1249; }
.pokesprite.vullaby { --dex: 629; }
.pokesprite.mandibuzz { --dex: 630; }
.pokesprite.heatmor { --dex: 631; }
.pokesprite.durant { --dex: 632; }
.pokesprite.deino { --dex: 633; }
.pokesprite.zweilous { --dex: 634; }
.pokesprite.hydreigon { --dex: 635; }
.pokesprite.larvesta { --dex: 636; }
.pokesprite.volcarona { --dex: 637; }
.pokesprite.cobalion { --dex: 638; }
.pokesprite.terrakion { --dex: 639; }
.pokesprite.virizion { --dex: 640; }
.pokesprite.tornadus { --dex: 641; }
.pokesprite.tornadus-therian { --dex: 1098; }
.pokesprite.thundurus { --dex: 642; }
.pokesprite.thundurus-therian { --dex: 1099; }
.pokesprite.reshiram { --dex: 643; }
.pokesprite.zekrom { --dex: 644; }
.pokesprite.landorus { --dex: 645; }
.pokesprite.landorus-therian { --dex: 1100; }
.pokesprite.kyurem { --dex: 646; }
.pokesprite.keldeo { --dex: 647; }
.pokesprite.meloetta { --dex: 648; }
.pokesprite.genesect { --dex: 649; }
.pokesprite.chespin { --dex: 650; }
.pokesprite.quilladin { --dex: 651; }
.pokesprite.chesnaught { --dex: 652; }
.pokesprite.fennekin { --dex: 653; }
.pokesprite.braixen { --dex: 654; }
.pokesprite.delphox { --dex: 655; }
.pokesprite.froakie { --dex: 656; }
.pokesprite.frogadier { --dex: 657; }
.pokesprite.greninja { --dex: 658; }
.pokesprite.bunnelby { --dex: 659; }
.pokesprite.diggersby { --dex: 660; }
.pokesprite.fletchling { --dex: 661; }
.pokesprite.fletchinder { --dex: 662; }
.pokesprite.talonflame { --dex: 663; }
.pokesprite.scatterbug { --dex: 664; }
.pokesprite.spewpa { --dex: 665; }
.pokesprite.vivillon { --dex: 666; }
.pokesprite.litleo { --dex: 667; }
.pokesprite.pyroar { --dex: 668; }
.pokesprite.flabebe { --dex: 669; }
.pokesprite.floette { --dex: 670; }
.pokesprite.florges { --dex: 671; }
.pokesprite.skiddo { --dex: 672; }
.pokesprite.gogoat { --dex: 673; }
.pokesprite.pancham { --dex: 674; }
.pokesprite.pangoro { --dex: 675; }
.pokesprite.furfrou { --dex: 676; }
.pokesprite.espurr { --dex: 677; }
.pokesprite.meowstic { --dex: 678; }
.pokesprite.honedge { --dex: 679; }
.pokesprite.doublade { --dex: 680; }
.pokesprite.aegislash { --dex: 681; }
.pokesprite.spritzee { --dex: 682; }
.pokesprite.aromatisse { --dex: 683; }
.pokesprite.swirlix { --dex: 684; }
.pokesprite.slurpuff { --dex: 685; }
.pokesprite.inkay { --dex: 686; }
.pokesprite.malamar { --dex: 687; }
.pokesprite.binacle { --dex: 688; }
.pokesprite.barbaracle { --dex: 689; }
.pokesprite.skrelp { --dex: 690; }
.pokesprite.dragalge { --dex: 691; }
.pokesprite.clauncher { --dex: 692; }
.pokesprite.clawitzer { --dex: 693; }
.pokesprite.helioptile { --dex: 694; }
.pokesprite.heliolisk { --dex: 695; }
.pokesprite.tyrunt { --dex: 696; }
.pokesprite.tyrantrum { --dex: 697; }
.pokesprite.amaura { --dex: 698; }
.pokesprite.aurorus { --dex: 699; }
.pokesprite.sylveon { --dex: 700; }
.pokesprite.hawlucha { --dex: 701; }
.pokesprite.dedenne { --dex: 702; }
.pokesprite.carbink { --dex: 703; }
.pokesprite.goomy { --dex: 704; }
.pokesprite.sliggoo { --dex: 705; }
.pokesprite.sliggoo-hisui { --dex: 1250; }
.pokesprite.goodra { --dex: 706; }
.pokesprite.goodra-hisui { --dex: 1251; }
.pokesprite.klefki { --dex: 707; }
.pokesprite.phantump { --dex: 708; }
.pokesprite.trevenant { --dex: 709; }
.pokesprite.pumpkaboo { --dex: 710; }
.pokesprite.gourgeist { --dex: 711; }
.pokesprite.bergmite { --dex: 712; }
.pokesprite.avalugg { --dex: 713; }
.pokesprite.avalugg-hisui { --dex: 1252; }
.pokesprite.noibat { --dex: 714; }
.pokesprite.noivern { --dex: 715; }
.pokesprite.xerneas { --dex: 716; }
.pokesprite.yveltal { --dex: 717; }
.pokesprite.zygarde { --dex: 718; }
.pokesprite.diancie { --dex: 719; }
.pokesprite.hoopa { --dex: 720; }
.pokesprite.volcanion { --dex: 721; }
.pokesprite.rowlet { --dex: 722; }
.pokesprite.dartrix { --dex: 723; }
.pokesprite.decidueye { --dex: 724; }
.pokesprite.decidueye-hisui { --dex: 1253; }
.pokesprite.litten { --dex: 725; }
.pokesprite.torracat { --dex: 726; }
.pokesprite.incineroar { --dex: 727; }
.pokesprite.popplio { --dex: 728; }
.pokesprite.brionne { --dex: 729; }
.pokesprite.primarina { --dex: 730; }
.pokesprite.pikipek { --dex: 731; }
.pokesprite.trumbeak { --dex: 732; }
.pokesprite.toucannon { --dex: 733; }
.pokesprite.yungoos { --dex: 734; }
.pokesprite.gumshoos { --dex: 735; }
.pokesprite.grubbin { --dex: 736; }
.pokesprite.charjabug { --dex: 737; }
.pokesprite.vikavolt { --dex: 738; }
.pokesprite.crabrawler { --dex: 739; }
.pokesprite.crabominable { --dex: 740; }
.pokesprite.oricorio { --dex: 741; }
.pokesprite.oricorio { --dex: 741; }
.pokesprite.oricorio-pom-pom { --dex: 1172; }
.pokesprite.oricorio-pau { --dex: 1173; }
.pokesprite.oricorio-sensu { --dex: 1174; }
.pokesprite.cutiefly { --dex: 742; }
.pokesprite.ribombee { --dex: 743; }
.pokesprite.rockruff { --dex: 744; }
.pokesprite.lycanroc { --dex: 745; }
.pokesprite.lycanroc-midnight { --dex: 1175; }
.pokesprite.lycanroc-dusk { --dex: 1192; }
.pokesprite.wishiwashi { --dex: 746; }
.pokesprite.mareanie { --dex: 747; }
.pokesprite.toxapex { --dex: 748; }
.pokesprite.mudbray { --dex: 749; }
.pokesprite.mudsdale { --dex: 750; }
.pokesprite.dewpider { --dex: 751; }
.pokesprite.araquanid { --dex: 752; }
.pokesprite.fomantis { --dex: 753; }
.pokesprite.lurantis { --dex: 754; }
.pokesprite.morelull { --dex: 755; }
.pokesprite.shiinotic { --dex: 756; }
.pokesprite.salandit { --dex: 757; }
.pokesprite.salazzle { --dex: 758; }
.pokesprite.stufful { --dex: 759; }
.pokesprite.bewear { --dex: 760; }
.pokesprite.bounsweet { --dex: 761; }
.pokesprite.steenee { --dex: 762; }
.pokesprite.tsareena { --dex: 763; }
.pokesprite.comfey { --dex: 764; }
.pokesprite.oranguru { --dex: 765; }
.pokesprite.passimian { --dex: 766; }
.pokesprite.wimpod { --dex: 767; }
.pokesprite.golisopod { --dex: 768; }
.pokesprite.sandygast { --dex: 769; }
.pokesprite.palossand { --dex: 770; }
.pokesprite.pyukumuku { --dex: 771; }
.pokesprite.type-null { --dex: 772; }
.pokesprite.silvally { --dex: 773; }
.pokesprite.minior { --dex: 774; }
.pokesprite.komala { --dex: 775; }
.pokesprite.turtonator { --dex: 776; }
.pokesprite.togedemaru { --dex: 777; }
.pokesprite.mimikyu { --dex: 778; }
.pokesprite.bruxish { --dex: 779; }
.pokesprite.drampa { --dex: 780; }
.pokesprite.dhelmise { --dex: 781; }
.pokesprite.jangmo-o { --dex: 782; }
.pokesprite.hakamo-o { --dex: 783; }
.pokesprite.kommo-o { --dex: 784; }
.pokesprite.tapu-koko { --dex: 785; }
.pokesprite.tapu-lele { --dex: 786; }
.pokesprite.tapu-bulu { --dex: 787; }
.pokesprite.tapu-fini { --dex: 788; }
.pokesprite.cosmog { --dex: 789; }
.pokesprite.cosmoem { --dex: 790; }
.pokesprite.solgaleo { --dex: 791; }
.pokesprite.lunala { --dex: 792; }
.pokesprite.nihilego { --dex: 793; }
.pokesprite.buzzwole { --dex: 794; }
.pokesprite.pheromosa { --dex: 795; }
.pokesprite.xurkitree { --dex: 796; }
.pokesprite.celesteela { --dex: 797; }
.pokesprite.kartana { --dex: 798; }
.pokesprite.guzzlord { --dex: 799; }
.pokesprite.necrozma { --dex: 800; }
.pokesprite.magearna { --dex: 801; }
.pokesprite.marshadow { --dex: 802; }
.pokesprite.poipole { --dex: 803; }
.pokesprite.naganadel { --dex: 804; }
.pokesprite.stakataka { --dex: 805; }
.pokesprite.blacephalon { --dex: 806; }
.pokesprite.zeraora { --dex: 807; }
.pokesprite.meltan { --dex: 808; }
.pokesprite.melmetal { --dex: 809; }
.pokesprite.grookey { --dex: 810; }
.pokesprite.thwackey { --dex: 811; }
.pokesprite.rillaboom { --dex: 812; }
.pokesprite.scorbunny { --dex: 813; }
.pokesprite.raboot { --dex: 814; }
.pokesprite.cinderace { --dex: 815; }
.pokesprite.sobble { --dex: 816; }
.pokesprite.drizzile { --dex: 817; }
.pokesprite.inteleon { --dex: 818; }
.pokesprite.skwovet { --dex: 819; }
.pokesprite.greedent { --dex: 820; }
.pokesprite.rookidee { --dex: 821; }
.pokesprite.corvisquire { --dex: 822; }
.pokesprite.corviknight { --dex: 823; }
.pokesprite.blipbug { --dex: 824; }
.pokesprite.dottler { --dex: 825; }
.pokesprite.orbeetle { --dex: 826; }
.pokesprite.nickit { --dex: 827; }
.pokesprite.thievul { --dex: 828; }
.pokesprite.gossifleur { --dex: 829; }
.pokesprite.eldegoss { --dex: 830; }
.pokesprite.wooloo { --dex: 831; }
.pokesprite.dubwool { --dex: 832; }
.pokesprite.chewtle { --dex: 833; }
.pokesprite.drednaw { --dex: 834; }
.pokesprite.yamper { --dex: 835; }
.pokesprite.boltund { --dex: 836; }
.pokesprite.rolycoly { --dex: 837; }
.pokesprite.carkol { --dex: 838; }
.pokesprite.coalossal { --dex: 839; }
.pokesprite.applin { --dex: 840; }
.pokesprite.flapple { --dex: 841; }
.pokesprite.appletun { --dex: 842; }
.pokesprite.silicobra { --dex: 843; }
.pokesprite.sandaconda { --dex: 844; }
.pokesprite.cramorant { --dex: 845; }
.pokesprite.arrokuda { --dex: 846; }
.pokesprite.barraskewda { --dex: 847; }
.pokesprite.toxel { --dex: 848; }
.pokesprite.toxtricity { --dex: 849; }
.pokesprite.sizzlipede { --dex: 850; }
.pokesprite.centiskorch { --dex: 851; }
.pokesprite.clobbopus { --dex: 852; }
.pokesprite.grapploct { --dex: 853; }
.pokesprite.sinistea { --dex: 854; }
.pokesprite.polteageist { --dex: 855; }
.pokesprite.hatenna { --dex: 856; }
.pokesprite.hattrem { --dex: 857; }
.pokesprite.hatterene { --dex: 858; }
.pokesprite.impidimp { --dex: 859; }
.pokesprite.morgrem { --dex: 860; }
.pokesprite.grimmsnarl { --dex: 861; }
.pokesprite.obstagoon { --dex: 862; }
.pokesprite.perrserker { --dex: 863; }
.pokesprite.cursola { --dex: 864; }
.pokesprite.sirfetchd { --dex: 865; }
.pokesprite.mr-rime { --dex: 866; }
.pokesprite.runerigus { --dex: 867; }
.pokesprite.milcery { --dex: 868; }
.pokesprite.alcremie { --dex: 869; }
.pokesprite.falinks { --dex: 870; }
.pokesprite.pincurchin { --dex: 871; }
.pokesprite.snom { --dex: 872; }
.pokesprite.frosmoth { --dex: 873; }
.pokesprite.stonjourner { --dex: 874; }
.pokesprite.eiscue { --dex: 875; }
.pokesprite.indeedee { --dex: 876; }
.pokesprite.indeedee-f { --dex: 1224; }
.pokesprite.morpeko { --dex: 877; }
.pokesprite.cufant { --dex: 878; }
.pokesprite.copperajah { --dex: 879; }
.pokesprite.dracozolt { --dex: 880; }
.pokesprite.arctozolt { --dex: 881; }
.pokesprite.dracovish { --dex: 882; }
.pokesprite.arctovish { --dex: 883; }
.pokesprite.duraludon { --dex: 884; }
.pokesprite.dreepy { --dex: 885; }
.pokesprite.drakloak { --dex: 886; }
.pokesprite.dragapult { --dex: 887; }
.pokesprite.zacian { --dex: 888; }
.pokesprite.zamazenta { --dex: 889; }
.pokesprite.eternatus { --dex: 890; }
.pokesprite.kubfu { --dex: 891; }
.pokesprite.urshifu-rapid-strike { --dex: 892; }
.pokesprite.urshifu { --dex: 892; }
.pokesprite.zarude { --dex: 893; }
.pokesprite.regieleki { --dex: 894; }
.pokesprite.regidrago { --dex: 895; }
.pokesprite.glastrier { --dex: 896; }
.pokesprite.spectrier { --dex: 897; }
.pokesprite.calyrex { --dex: 898; }
.pokesprite.wyrdeer { --dex: 899; }
.pokesprite.kleavor { --dex: 900; }
.pokesprite.ursaluna { --dex: 901; }
.pokesprite.ursaluna-bloodmoon { --dex: 1272; }
.pokesprite.basculegion { --dex: 902; }
.pokesprite.basculegion-f { --dex: 1254; }
.pokesprite.sneasler { --dex: 903; }
.pokesprite.overqwil { --dex: 904; }
.pokesprite.enamorus { --dex: 905; }
.pokesprite.enamorus-therian { --dex: 1255; }
.pokesprite.sprigatito { --dex: 906; }
.pokesprite.floragato { --dex: 907; }
.pokesprite.meowscarada { --dex: 908; }
.pokesprite.fuecoco { --dex: 909; }
.pokesprite.crocalor { --dex: 910; }
.pokesprite.skeledirge { --dex: 911; }
.pokesprite.quaxly { --dex: 912; }
.pokesprite.quaxwell { --dex: 913; }
.pokesprite.quaquaval { --dex: 914; }
.pokesprite.lechonk { --dex: 915; }
.pokesprite.oinkologne { --dex: 916; }
.pokesprite.oinkologne-f { --dex: 1260; }
.pokesprite.tarountula { --dex: 917; }
.pokesprite.spidops { --dex: 918; }
.pokesprite.nymble { --dex: 919; }
.pokesprite.lokix { --dex: 920; }
.pokesprite.pawmi { --dex: 921; }
.pokesprite.pawmo { --dex: 922; }
.pokesprite.pawmot { --dex: 923; }
.pokesprite.tandemaus { --dex: 924; }
.pokesprite.maushold { --dex: 925; }
.pokesprite.fidough { --dex: 926; }
.pokesprite.dachsbun { --dex: 927; }
.pokesprite.smoliv { --dex: 928; }
.pokesprite.dolliv { --dex: 929; }
.pokesprite.arboliva { --dex: 930; }
.pokesprite.squawkabilly { --dex: 931; }
.pokesprite.nacli { --dex: 932; }
.pokesprite.naclstack { --dex: 933; }
.pokesprite.garganacl { --dex: 934; }
.pokesprite.charcadet { --dex: 935; }
.pokesprite.armarouge { --dex: 936; }
.pokesprite.ceruledge { --dex: 937; }
.pokesprite.tadbulb { --dex: 938; }
.pokesprite.bellibolt { --dex: 939; }
.pokesprite.wattrel { --dex: 940; }
.pokesprite.kilowattrel { --dex: 941; }
.pokesprite.maschiff { --dex: 942; }
.pokesprite.mabosstiff { --dex: 943; }
.pokesprite.shroodle { --dex: 944; }
.pokesprite.grafaiai { --dex: 945; }
.pokesprite.bramblin { --dex: 946; }
.pokesprite.brambleghast { --dex: 947; }
.pokesprite.toedscool { --dex: 948; }
.pokesprite.toedscruel { --dex: 949; }
.pokesprite.klawf { --dex: 950; }
.pokesprite.capsakid { --dex: 951; }
.pokesprite.scovillain { --dex: 952; }
.pokesprite.rellor { --dex: 953; }
.pokesprite.rabsca { --dex: 954; }
.pokesprite.flittle { --dex: 955; }
.pokesprite.espathra { --dex: 956; }
.pokesprite.tinkatink { --dex: 957; }
.pokesprite.tinkatuff { --dex: 958; }
.pokesprite.tinkaton { --dex: 959; }
.pokesprite.wiglett { --dex: 960; }
.pokesprite.wugtrio { --dex: 961; }
.pokesprite.bombirdier { --dex: 962; }
.pokesprite.finizen { --dex: 963; }
.pokesprite.palafin { --dex: 964; }
.pokesprite.varoom { --dex: 965; }
.pokesprite.revavroom { --dex: 966; }
.pokesprite.cyclizar { --dex: 967; }
.pokesprite.orthworm { --dex: 968; }
.pokesprite.glimmet { --dex: 969; }
.pokesprite.glimmora { --dex: 970; }
.pokesprite.greavard { --dex: 971; }
.pokesprite.houndstone { --dex: 972; }
.pokesprite.flamigo { --dex: 973; }
.pokesprite.cetoddle { --dex: 974; }
.pokesprite.cetitan { --dex: 975; }
.pokesprite.veluza { --dex: 976; }
.pokesprite.dondozo { --dex: 977; }
.pokesprite.tatsugiri { --dex: 978; }
.pokesprite.annihilape { --dex: 979; }
.pokesprite.clodsire { --dex: 980; }
.pokesprite.farigiraf { --dex: 981; }
.pokesprite.dudunsparce { --dex: 982; }
.pokesprite.kingambit { --dex: 983; }
.pokesprite.great-tusk { --dex: 984; }
.pokesprite.scream-tail { --dex: 985; }
.pokesprite.brute-bonnet { --dex: 986; }
.pokesprite.flutter-mane { --dex: 987; }
.pokesprite.slither-wing { --dex: 988; }
.pokesprite.sandy-shocks { --dex: 989; }
.pokesprite.iron-treads { --dex: 990; }
.pokesprite.iron-bundle { --dex: 991; }
.pokesprite.iron-hands { --dex: 992; }
.pokesprite.iron-jugulis { --dex: 993; }
.pokesprite.iron-moth { --dex: 994; }
.pokesprite.iron-thorns { --dex: 995; }
.pokesprite.frigibax { --dex: 996; }
.pokesprite.arctibax { --dex: 997; }
.pokesprite.baxcalibur { --dex: 998; }
.pokesprite.gimmighoul { --dex: 999; }
.pokesprite.gholdengo { --dex: 1000; }
.pokesprite.wo-chien { --dex: 1001; }
.pokesprite.chien-pao { --dex: 1002; }
.pokesprite.ting-lu { --dex: 1003; }
.pokesprite.chi-yu { --dex: 1004; }
.pokesprite.roaring-moon { --dex: 1005; }
.pokesprite.iron-valiant { --dex: 1006; }
.pokesprite.koraidon { --dex: 1007; }
.pokesprite.miraidon { --dex: 1008; }
.pokesprite.walking-wake { --dex: 1009; }
.pokesprite.iron-leaves { --dex: 1010; }
.pokesprite.dipplin { --dex: 1011; }
.pokesprite.poltchageist { --dex: 1012; }
.pokesprite.sinistcha { --dex: 1013; }
.pokesprite.okidogi { --dex: 1014; }
.pokesprite.munkidori { --dex: 1015; }
.pokesprite.fezandipiti { --dex: 1016; }
.pokesprite.ogerpon { --dex: 1017; }
.pokesprite.ogerpon-wellspring { --dex: 1273; }
.pokesprite.ogerpon-hearthflame { --dex: 1274; }
.pokesprite.ogerpon-cornerstone { --dex: 1275; }
.pokesprite.archaludon { --dex: 1018; }
.pokesprite.hydrapple { --dex: 1019; }
.pokesprite.gouging-fire { --dex: 1020; }
.pokesprite.raging-bolt { --dex: 1021; }
.pokesprite.iron-boulder { --dex: 1022; }
.pokesprite.iron-crown { --dex: 1023; }
.pokesprite.terapagos { --dex: 1024; }
.pokesprite.pecharunt { --dex: 1025; }